__pycache__/
.DS_Store
.vscode*
tmp_examples*
new_checkpoint*
batch_test*
nohup*
_tmp_*
debug*
examples*
logs*
outputs*
s2v_5b_output/*
gradio_outputs/*
wandb*
# Added by Snap Cursor Rules extension
.cursor/rules/remote
.cursor/
